.navbar {
	height: 60px;
	padding: 0 20px;
	background: #222;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile {
	display: flex;
	align-items: center;
	gap: 10px;
}

.profile img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
